@page
@model InjectConfigModel
@{
    ViewData["Title"] = "InjectConfiguration";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@foreach(var option in Model.Options) {
<h2>@option.FileExtension</h2>
<ul>
    <li>@option.Enabled</li>
    <li>@option.FileExtension</li>
    <li>@option.OutputDir</li>
    <li>@option.TemplateFile</li>
</ul>
}